<h2> Your Contacts </h2>

<ul>
	<% @contacts.each do |contact| %>
		<li>
			<%= link_to contact.show_name, contact_path(contact) %>
		</li>

	<% end %>
</ul>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:letter, "Search for:") %>
  <%= text_field_tag(:letter) %>
  <%= submit_tag("Search") %>
<% end %>

