<h3>Contact Info</h3>

<p class="contact">
Name and Address: 
	<%= @contact.show_address %>
<br />
Email: 
	<%= @contact.show_email %>

<br />
Phone: 
	<%= @contact.show_phone_number %>

<br />
	<% if @contact.has_attribute?(:status) %>
	<%= @contact.show_status %>
	<% end %>
<br />
	<%= image_tag @contact.avatar.url(:thumb) %>
</p>