<!DOCTYPE html>
<html>
<head>
  <title>Address Book</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

<hr />
<%= link_to "Your Contacts", contacts_path %>
<%= link_to "Create New Contact",  new_contact_path %>


</body>
</html>